.cart-menu {
    position: absolute;
    background-color: #1f2937;
    right: 230px;
    top: 30px;
    width: 700px;
    padding: 10px 20px;
    z-index: 2;
    border-radius: 15px;
    color: #FFFFFF;
}

.cart-menu__arrange {
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid rgb(9, 45, 114);
}

.cart-menu__total-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bolder;
}
